@import url('./themes/light-green.less');

* {
    box-sizing: border-box;
}

body {
    color: @text-color;
    font-size: 12px;
    font-family: 微软雅黑, 宋体;
    line-height: 200%;
    background-color: #ffffff;

    a {
        color: @link-color;
        font-weight: normal;
        text-decoration: none;
    }

    a:hover {
        color: @link-hover-color;
    }

    blockquote {
      border-left:1px solid #e5e5e5;
      margin:0;
      padding:0 0 0 1rem;
      font-style:italic;
    }

    code, pre {
      font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
      color:#333;
      font-size:1rem;
    }

    pre {
      padding:0.5rem;
      background: #f8f8f8;  
      border-radius:0.25rem;
      border:1px solid #e5e5e5;
      overflow-x: auto;
    }

    header.main, div.wrapper, footer.main {
        padding-left: 1rem;
        background-color: #ffffff;
    }
    header.main, footer.main {
        z-index: 100;
    }
    header.main {
        h1#brand {
            font-size: 1.5rem;
        }
        #nav {
            ul.master {
                text-align: center;
            }
            ul.master li {
                position: relative;
                font-size: 1.2rem;
            }
            div.slave {
                display: none;
                width: 10rem;
                position: absolute;
                z-index: 100;
            }
            div.slave ul {
                width: auto;
                padding: 0.25rem;
                display: inline-block;
                background-color: #ffffff;
                border: 0.1rem #cccccc solid;
                border-radius: 0.25rem;
            }
            div.slave ul li {
                display: block;
                font-size: 1rem;
            }
            div.slave ul:before {
                content: "";
                width: 0.5rem;
                height: 0.5rem;
                position: absolute;
                background-color: #ffffff;
                border-top: 0.1rem #cccccc solid;
                border-left: 0.1rem #cccccc solid;
            }
        }
    }
    div.wrapper {
        display: box;
        display: -moz-box;
        display: -webkit-box;
        width: 100%;
        h1, h2, h3 {
            font-size: 1.2rem;
        }
        ul li {
            list-style-type: square;
            list-style-position: inside;
        }
        .layout {
            padding-top: 1rem;
            padding-bottom: 4rem;
            padding-right: 4rem;
        }
        section#post {
            box-flex: 1;
            article.post-content img {
                max-width: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}    
