/**
* PC样式
*/
@import url('./themes/light-green.less');

body {
    #top-banner {
        border-top: 2px solid @brand-primary;
        background: @brand-bg-primary;
        padding-left: 1rem;
    }
    header.main {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        h1#brand, #nav {
            display: inline-block;
        }
        #nav {
            ul.master, ul.master li {
                display: inline-block;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
            } 
            div.slave {
                text-align: left;
                top: 2rem;
                left: -1.5rem;
            }
            div.slave ul:before {
                top:-0.25rem;
                left: 2rem;
                transform: rotate(45deg);
            }
        }
    }
    div.wrapper {
        .layout {
            padding-right: 1rem;
        }
        section#post {
            min-width: 30rem;
            max-width: 50rem;
        }
        aside#list {
            min-width: 15rem;
            max-width: 35rem;
        }
    }
    footer.main #copyright {
        width: 25%;
        border-top: 1px solid @brand-primary;
    }
}