/**
* 手机样式
*/
html, body, div.wrapper, section#post, aside#list {
    height: 100%;
}
body {
    #top-banner {
        display: none;
    }
    section#post, aside#list {
        min-height: 100%;
        animation-duration: 1s;
        animation-timing-function: linear;
    }
    section#post {
        display: block;
    }
    aside#list {
        display: none;
    }
}