doctype html
html
    head
        meta(charset='utf8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title='周培公的博客-般若经舍'
        style(type='text/css')
            include ../.tmp/styles/pygment_trac.css
            include ../.tmp/styles/styles.css
            include ../.tmp/styles/main.css
    body
        #top-banner
        .wrapper
            header.main
                h1#brand 
                #nav
            aside#list.layout
            section#post.layout
            footer.main 
                #copyright
                div
                    script(type='text/javascript') var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254054136'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1254054136%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
        script(id='tmpl-nav' type='text/x-dot-template')
            include templates/nav.tmpl.html
        script(id='tmpl-it-list' type='text/x-dot-template')
            include templates/it_list.tmpl.html
        script(id='tmpl-poet-list' type='text/x-dot-template')
            include templates/poet_list.tmpl.html
        script(id='tmpl-common-list' type='text/x-dot-template')
            include templates/common_list.tmpl.html
        script(type='text/javascript')
            include ../.tmp/main.js
