doctype html
html
    head
        meta(charset='utf8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title=''
        style(type='text/css')
            @import './styles/main.css';
        script(data-main="scripts/app/main.js" src="scripts/lib/require.js")
    body
        #top-banner
        header.main
            h1#brand 
            #nav
        div.wrapper
            section#post.layout
            aside#list.layout
        footer.main 
            #copyright
