doctype html
html
    head
        meta(charset='utf8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title='周培公的博客-般若经舍'
        style(type='text/css')
            include ../.tmp/styles/pygment_trac.css
            include ../.tmp/styles/styles.css
            include ../.tmp/styles/main.css
    body
        #top-banner
        .wrapper
            header.main
                h1#brand 
                #nav
            aside#list.layout
            section#post.layout
            footer.main 
                #copyright
                #statistics